OPENROUTER_API_KEY=
GROQ_API_KEY=
EMBEDDING_API_KEY=
EMBEDDING_API_BASE_URL=
TURNSTILE_SECRET_KEY=
APP_PUBLIC_URL=https://anthonysmith.org
CHAT_RATE_LIMIT_WINDOW_MS=60000
CHAT_RATE_LIMIT_MAX_REQUESTS=20
